* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* Added new semantic element header */
/* Removed footer to increase accuracy of product to screen shot provided in challenge 1 documentation */
/* Saved footer in the event an inquiry is made as to who provided the starter code, credit to Horiseon Inc. is saved */
header /*, .footer*/ {
  background-color: blue;
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  padding: 20px;
  color: #ffffff;
  font-size:18px;
}

header ul li {
  margin-left: 15px;
  display: inline-block;
  padding:10px
}

header h1 {
  text-align: left;
  float: left;
  font-size: 48px;
  color: #d9dcd6;
  margin-top: 0px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* After scritinizing the .float classes, this already appears simplified.*/
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* .benefit consolidated three classes into one to reduce redundancy.*/
.benefit {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* .engine consolidated three different classes into one class to reduce redundancy.*/
.engine {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.engine img {
  max-height: 200px;
}

.engine h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/*Saved footer CSS elements */
/*The property text-align center is not transferable to the .header class. */
/* .footer {
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
*/

